@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon/icomoon.eot?s0mgzj');
  src:  url('../assets/fonts/icomoon/icomoon.eot?s0mgzj#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon/icomoon.ttf?s0mgzj') format('truetype'),
    url('../assets/fonts/icomoon/icomoon.woff?s0mgzj') format('woff'),
    url('../assets/fonts/icomoon/icomoon.svg?s0mgzj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adaptToEvolve:before {
  content: "\e912";
}
.icon-leadsByExample:before {
  content: "\e913";
}
.icon-alwaysbefore:before {
  content: "\e900";
}
.icon-custcome:before {
  content: "\e901";
}
.icon-peoplepower:before {
  content: "\e902";
}
.icon-setbacks:before {
  content: "\e903";
}
.icon-transparency:before {
  content: "\e904";
}
.icon-settle:before {
  content: "\e905";
}
.icon-empower:before {
  content: "\e906";
}
.icon-focus:before {
  content: "\e907";
}
.icon-impossible:before {
  content: "\e908";
}
.icon-evolve:before {
  content: "\e909";
}
.icon-integrity:before {
  content: "\e90a";
}
.icon-consult:before {
  content: "\e90b";
}
.icon-process:before {
  content: "\e90c";
}
.icon-Courageous:before {
  content: "\e90d";
}
.icon-Leads:before {
  content: "\e90e";
}
.icon-Communication:before {
  content: "\e90f";
}
.icon-Nurtures:before {
  content: "\e910";
}
.icon-ServeGood:before {
  content: "\e911";
}
